<div class="overlay" *ngIf="loading">
  <i class="fa fa-refresh fa-spin"></i>
</div>
<mk-box>
  <mk-box-header>Upload Notice Excel</mk-box-header>
  <mk-box-content>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="excel">Select Excle file*</label>
          <input
            type="file"
            #excelfile
            id="excel"
            class="form-control"
            (change)="uploadFile(excelfile)"
            accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
            <button
            class="btn-primary btn-lg ml-5 m-2"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
  </mk-box-content>
</mk-box>
